extends ../layout

block navigation
  ul.nav.nav-pills.nav-stacked
    li: a(href="/advanced/introduction") Einleitung
      if (req.path == "/advanced/introduction" || req.path == "/advanced")
        ul
          li: a(href="/beginner/introduction#audience") Zielgruppe
          li: a(href="/beginner/introduction#sources") Quellen
          
    li: a(href="/advanced/tables") Tables
      if (req.path == "/advanced/tables")
        ul
          li: a(href="/advanced/tables#motivation") Motivation
          li: a(href="/advanced/tables#simplify") Vereinfachungen
          li: a(href="/advanced/tables#usefulfuncs") Nützliche Funktionen
          li: a(href="/advanced/tables#internal") Internas & Performance
      
    li: a(href="/advanced/variables") Variablen
      if (req.path == "/advanced/variables")
        ul
          li: a(href="/advanced/variables#anonymous") Anonyme Funktionen
          li: a(href="/advanced/variables#types") Typen
          li: a(href="/advanced/variables#g") Globale Variablen
          li: a(href="/advanced/variables#copyreference") Kopie vs. Referenz

    li: a(href="/advanced/metatables") Metatables
      if (req.path == "/advanced/metatables")
        ul
          li: a(href="/advanced/metatables#motivation") Motivation
          li: a(href="/advanced/metatables#setmt") Metatable setzen
          li: a(href="/advanced/metatables#metamethods") Metamethoden
          li: a(href="/advanced/metatables#raw") rawget & rawset
