extends content

block body
  h1#introduction Lua für Fortgeschrittene: Einleitung
  p.
    In diesem Teil des Tutorials sollen fortgeschrittene Themen wie Tables im Detail, Metatables, Objektorientierung und Coroutinen beleuchtet werden.
    
  h3#audience Zielgruppe
  p.
    Um diesem Tutorial folgen zu können, solltest du die Grundlagen kennen und auch schon einige, zumindest kleinere Projekte umgesetzt haben.
  
  h3#sources Quellen und Bibliotheken
  h4 Quellen
  ul
    li: a(href="https://de.wikipedia.org/wiki/Lua") https://de.wikipedia.org/wiki/Lua
    li: a(href="http://pgl.yoyo.org/luai/i/about") http://pgl.yoyo.org/luai/i/about
