extends content

block body
  h1#introduction Lua für Fortgeschrittene: Einleitung
  p.
    In diesem Teil des Tutorials sollen fortgeschrittene Themen wie Tables im Detail, Metatables und Coroutinen beleuchtet werden.
    Weiterhin werden die Grundlagen für ein tiefgehendes Verständnis der Funktionsweise der Objektorientierung in Lua gelegt, der Objektorientierung selbst ist jedoch
    ein eigener Teil gewidmet.
    
  h3#audience Zielgruppe
  p.
    Um diesem Tutorial folgen zu können, solltest du die Grundlagen kennen und auch schon einige, zumindest kleinere Projekte umgesetzt haben.
  
  h3#sources Quellen und Bibliotheken
  h4 Quellen
  ul
    li: a(href="http://pgl.yoyo.org/luai/i/about") http://pgl.yoyo.org/luai/i/about
    li: a(href="http://lua-users.org/wiki/MetatableEvents") http://lua-users.org/wiki/MetatableEvents
