extends ../layout

block navigation
  ul.nav.nav-pills.nav-stacked
    li: a(href="/beginner/introduction") Einleitung
      if (req.path == "/beginner/introduction")
        ul
          li: a(href="/beginner/introduction#audience") Zielgruppe
          li: a(href="/beginner/introduction#sources") Quellen
          li: a(href="/beginner/introduction#whatislua") Was ist Lua?
          li: a(href="/beginner/introduction#thistutorial") Dieses Tutorial
          li: a(href="/beginner/introduction#howtoread") Wie lesen
          
    li: a(href="/beginner/hello_world") Hello World
      if (req.path == "/beginner/hello_world")
        ul
          li: a(href="/beginner/hello_world#exercise") Übung
    
    li: a(href="/beginner/comments") Kommentare
      if (req.path == "/beginner/comments")
        ul
          li: a(href="/beginner/comments#singleline") Einzeilige Kommentare
          li: a(href="/beginner/comments#multiline") Mehrerzeilige Kommentare
          li: a(href="/beginner/comments#exercise") Übung
      
    li: a(href="/beginner/variables") Variablen und Datentypen
      if (req.path == "/beginner/variables")
        ul
          li: a(href="/beginner/variables#vars") Variablen
          li: a(href="/beginner/variables#literals") Literale
          li: a(href="/beginner/variables#datatypes") Datentypen
          li: a(href="/beginner/variables#variablenames") Variablennamen
          li: a(href="/beginner/variables#casts") Konvertierungen
          li: a(href="/beginner/variables#exercise") Übung
        
    li: a(href="/beginner/controlstructs") Kontrollstrukturen
      if (req.path == "/beginner/controlstructs")
        ul
          li: a(href="/beginner/controlstructs#motivation") Motivation
          li: a(href="/beginner/controlstructs#ifcondition") if-Bedingung
          li: a(href="/beginner/controlstructs#compareoperators") Vergleichsoperatoren
          li: a(href="/beginner/controlstructs#junctors") Logische Junktoren
          li: a(href="/beginner/controlstructs#ifelse") If-Else
          li: a(href="/beginner/controlstructs#while") While-Schleife
          li: a(href="/beginner/controlstructs#repeatuntil") Repeat-Until-Schleife
          li: a(href="/beginner/controlstructs#for") For-Schleife
          li: a(href="/beginner/controlstructs#brackets") Klammerung
          li: a(href="/beginner/controlstructs#exercise") Übung
        
    li: a(href="/beginner/blocks") Blöcke und Gültigkeitsbereiche
      if (req.path == "/beginner/blocks")
        ul
          li: a(href="/beginner/blocks#motivation") Motivation
          li: a(href="/beginner/blocks#block") Was ist das?
          li: a(href="/beginner/blocks#scopes") Gültigkeitsbereiche
          li: a(href="/beginner/blocks#localvars") Lokale Variablen
          li: a(href="/beginner/blocks#definition") Definition
          li: a(href="/beginner/blocks#masking") Verdeckung
          li: a(href="/beginner/blocks#exercise") Übung
        
    li: a(href="/beginner/functions") Funktionen
      if (req.path == "/beginner/functions")
        ul
          li: a(href="/beginner/functions#motivation") Motivation
          li: a(href="/beginner/functions#parameter") Parameter
          li: a(href="/beginner/functions#return") Rückgaben
          li: a(href="/beginner/functions#syntax") Syntax
          li: a(href="/beginner/functions#exercise") Übung
        
    li: a(href="/beginner/strings") Mehr zu Strings
      if (req.path == "/beginner/strings")
        ul
          li: a(href="/beginner/strings#concat") Konkatentation
          li: a(href="/beginner/strings#library") Bibliothek
          //li: a(href="/beginner/strings#exercise") Übung
        
    li: a(href="/beginner/tables") Tables
      if (req.path == "/beginner/tables")
        ul
          li: a(href="/beginner/tables#motivation") Motivation
          li: a(href="/beginner/tables#arrays") Tables als Arrays
          li: a(href="/beginner/tables#maps") Tables als Maps
          li: a(href="/beginner/tables#exercise") Übung
          
    li: a(href="/beginner/libraries") Weitere Lua Bibliotheken
      if (req.path == "/beginner/libraries")
        ul
          li: a(href="/beginner/libraries#math") Mathe
          li: a(href="/beginner/libraries#table") Table
          li: a(href="/beginner/libraries#os") System (os)
          li: a(href="/beginner/libraries#io") Eingabe/Ausgabe
          li: a(href="/beginner/libraries#debug") Debug, Coroutine
  
    li: a(href="/beginner/summary_feedback") Zusammenfassung & Feedback
      if (req.path == "/beginner/summary_feedback")
        ul
          li: a(href="/beginner/summary_feedback#summary") Zusammenfassung
          li: a(href="/beginner/summary_feedback#feedback") Feedback
          
  //-
    Kapitel:
    - Syntax & Semantik
