extends content

block body
  h1#introduction MTA:SA Grundlagen: Einleitung
  p.
    Ziel dieses Tutorial ist die Grundkonzepte der Multiplayer-Modifikation <i>Multi Theft Auto: San Andreas</i> für <i>GTA: San Andreas</i> zu erläutern.
    
  h3#whatismta Was ist MTA:SA?
  p.
    <i>Multi Theft Auto: San Andreas</i> (kurz: <i>MTA:SA</i> oder <i>MTA</i>) ist eine Modifikation, die das Spiel <i>GTA: San Andreas</i> um einen Multiplayer ergänzt,
    der durch Scripting in der Sprache Lua erweitertert und angepasst werden kann.<br/>
    MTA:SA wurde dabei durch <a href="https://de.wikipedia.org/wiki/Reverse_Engineering">Reverse Engineering</a> der GTA:SA Binärdateien hergestellt und kann
    auf <a href="https://mtasa.com">mtasa.com</a> heruntergeladen werden.
    
  p.
    Bekannt ist MTA:SA insbesondere für Rollenspiel und Race Spielmodi.
    <strong>TODO: Videos hinzufügen</strong>
  
  h3#audience Zielgruppe
  p.
    Die Zielgruppe dieses Tutorials sind zum einen alle, die vor allem am Scripting für MTA:SA interessiert sind und zum anderen Leute, die eine Anwendung zur
    Übung für die Scriptsprache Lua suchen.
    Dabei wird angenommen, dass der Leser bereits mit den Grundlagen aus dem <a href="/beginner">Grundlagen Tutorial</a> vertraut ist.
    
  h3#sources Quellen und Bibliotheken
  h4 Quellen
  ul
    li: a(href="https://de.wikipedia.org/wiki/Lua") https://de.wikipedia.org/wiki/Lua
    li: a(href="http://pgl.yoyo.org/luai/i/about") http://pgl.yoyo.org/luai/i/about

  h3#help Wo bekomme ich Hilfe?
  p.
    Hilfe zu MTA:SA (oder auch Lua allgemein) findest Du im deutschen MTA Forum unter <a href="https://mta-sa.org">mta-sa.org</a>
    oder im offiziellen, englischsprachigen Forum unter <a href="https://forum.mtasa.com">forum.mtasa.com</a>.
  
