extends layout

block body
  include introduction
  include hello_world
  include comments
  include variables
  include controlstructs
  include blocks
  include functions
  include strings
  include libraries
  include tables
  
  //-
    Kapitel:
    - Syntax & Semantik
