h1#hello_world Hello world!
p.
  Seit langem ist es zur Tradition jedes Programmiertutorial mit einem <i>Hello World!</i> Programm zu starten.
  Das wollen wir natürlich hier nicht verletzen!

div.executor
  label Hello World
  pre.
    for i = 0, 10 do
      print("Hello world")
    end
    
