h1#hello_world Hello world!
p.
  Seit langem ist es Tradition jedes Programmiertutorial mit einem <i>Hello World!</i> Programm zu starten.
  Das wollen wir nat端rlich hier nicht verletzen!

div.executor
  label Hello World
  pre.
    print("Hello world")
    
p.
  Die <code>print</code>-Funktion gibt den Inhalt auf der Konsole aus, der zwischen den runden Klammern steht.<br/>
  Dr端cke auf den gr端nen <kbd><span class="glyphicon glyphicon-play"></span></kbd>-Button, um den Code auszuf端hren.
