extends content

block body
  h1#hello_world Hello world!
  p.
    Seit langem ist es Tradition jedes Programmiertutorial mit einem <i>Hello World!</i> Programm zu starten.
    Das wollen wir natürlich hier nicht verletzen!

  div.executor
    label Hello World
    pre.
      print("Hello world")
      
  p.
    Die <code>print</code>-Funktion gibt den Inhalt auf der Konsole aus, der zwischen den runden Klammern steht.<br/>
    Drücke auf den grünen <kbd><span class="glyphicon glyphicon-play"></span></kbd>-Button, um den Code auszuführen.

  h3#exercise Übung
  p Aufgabe in dieser Übung ist die deutsche Übersetzung "Hallo Welt" auf der Konsole auszugeben.
  
  div.solution
    div.content
      div.executor
        label Lösung: Hallo Welt
        pre.
          print("Hallo Welt")
