doctype html
html
  head
    title Lua Tutorial

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/github.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
    block styles

  //(data-spy="scroll", data-target="nav", data-offset="0")
  body
    // Fork me on GitHub
    a(href="https://github.com/Jusonex/LuaTutorial-de").hidden-print.hidden-xs
      img(style="position: absolute; top: 0; right: 0; border: 0;",
        src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67",
        alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")
  
    div.container
      div.row
        header
          a(href="/"): img(src="/images/lua-language.gif")
          h1 Lua Tutorial
          h4 ...der etwas anderen Art
        
        div.clearfix
        
        unless no_nav
          div.col-md-3.hidden-print
            nav(data-spy="affix", data-offset-top="0")#navigation
              block navigation
                
          div.col-md-9
            block body
            footer
            
        else
          div.col-md-12
            block body
            footer

    div#testerButton.hidden-xs.hidden-print Tester
    div#testerWindow
      a#minimize Minimieren
      textarea(placeholder="Gib deinen Code hier ein").form-control
      pre.output
      button.btn.btn-success#runButton Ausführen
      button.btn.btn-danger#resetButton Zurücksetzen

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    // SCRIPTS
    script(src="/js/bootstrap.min.js")
    script(src="/js/executor.js")
    script(src="/js/highlight.pack.js")
    script(src="/js/lua.vm.js")
    script(src="/js/solution.js")
    script(src="/js/tester.js")
    // SCRIPTS END
  
    script.
      // Highlight code snippets
      $(document).ready(function() {
        $('.executor pre').each(function(i, block) {
          $(block).data('code', $(block).html());
          hljs.highlightBlock(block);
        });
      });
      
