doctype html
html
  head
    title Lua Tutorial

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/styles/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/github.css")
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
    block styles
  
    script(src="//code.jquery.com/jquery-2.1.4.min.js")

  body(data-spy="scroll", data-target="nav", data-offset="0")
    div.container
      div.row
        header
          h1 Lua Tutorial
          h4 ...die etwas anderes Art
        
        div.col-md-3.hidden-print
          nav(data-spy="affix", data-offset-top="0")#navigation
            block navigation
              
        div.col-md-9
          block body

    div#testerButton Tester
    div#testerWindow
      a#minimize Minimieren
      textarea(placeholder="Gib deinen Code hier ein").form-control
      pre.output
      button.btn.btn-success#runButton Ausführen
      button.btn.btn-danger#resetButton Zurücksetzen

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/executor.js")
    script(src="/js/highlight.pack.js")
    script(src="/js/lua.vm.js", async)
    script(src="/js/solution.js")
    script(src="/js/tester.js")
    // SCRIPTS END
  
    script.
      // Highlight code snippets
      $(document).ready(function() {
        $('.executor pre').each(function(i, block) {
          $(block).data('code', $(block).html());
          hljs.highlightBlock(block);
        });
      });
      
