h1#variables Variablen und Datentypen
h3 Variablen
p.
  Variablen sollten für die meisten schon aus der Mathematik bekannt sein. In der Programmierung lässt sich ein Variable als Platzhalter für einen bestimmten Inhalt sehen.
  <br/>
  So lässt sich sagen: Eine Variable ordnet einem <strong>Wert</strong> einen Namen zu.

h3 Literale
p.
  Literale sind feste Werte, die direkt - so wie sie sind - im Code stehen.
  <pre>print(4)
  print("Hi")</pre>
  Sowohl <code>4</code> als auch <code>"Hi"</code> sind hier Literale.

h3 Datentypen
p.
  Im Gegensatz zu anderen Programmiersprachen/Skriptsprachen ist Lua <i>dynamisch typisiert</i>. Das bedeutet, dass eine Variable jeden beliebigen Typ annehmen und diesen wechseln kann.
  Das macht Lua gerade auch für Anfänger besonders attraktiv, da es dadurch besonders einfach wird.
  <br/><br/>
  Beim Schreiben von Lua Code muss man lediglich die Syntax von der Defintion von Literalen kennen

h4 Zahlen
p.
  Lua benutzt für alle Zahlen sogenannte <i>Fließkommazahlen doppelter Genauigkeit</i>.
  Zahlen können ganz einfach definiert werden:
  <pre>meineZahl = 42</pre>

h4 Strings / Zeichenketten
p.
  Zeichenketten, also beliebige Aneinanderreihungen von Zeichen, in der Programmierung auch <strong>Strings</strong> genannt, müssen zwischen Anführungszeichen gestellt werden.
  <pre>meineZeichenkette = "Hallo Welt!"</pre>
  Alternativ sind in Lua auch einfache statt doppelte Anführungszeichen erlaubt:
  <pre>meineZeichenkette = 'Hallo Welt!'</pre>
  Beide Varianten sind in Lua gleichwertig (in anderen Sprachen wie z.B. PHP oder C++ ist das anders!)

h4 Tables
p.
  Tables (deutsch: Tabellen) sind definitiv Luas mächtigster Datentyp. Tables werden jedoch erst zu einem späteren Zeitpunkt behandelt.
  // TODO: Ref einfügen
